<li>
	{{name}}

	<button class="change-eat btn btn-outline-dark" data-id="{{id}}" data-newhungry="{{eat}}">
		{{#if eat}}DEVOUR IT!{{else}}ORDER MORE!{{/if}}
	</button>

	<button class="delete-burger btn btn-outline-dark" data-id="{{this.id}}">DELETE!</button>
</li>
