<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newhungry="{{eat}}">
		{{#if eat}}EAT TIME!{{else}}THROW UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
